/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 
*/

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    --main-bg-color: #FFFFFF;
    width: 100%;
    --secondary-color: #014751;
    --tertiary-color: #DFE6E9;
    ;
}

.categorypanel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 30%;
    height: 100%;

    padding: 12px;
    row-gap: 12px;
    overflow: scroll;
  }

  .categorycontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    background-color: var(--main-bg-color);
    color: var(--tertiary-color);
    
    padding: 12px 24px 12px 24px;
    gap: 15px;
    border-radius: 10px;
    opacity: 0px;

    min-height: 100px;
    box-sizing: content-box;

  }

  .categoryheader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* font-family: ; */

    font-size: 16px;
    font-weight: 700;
    line-height: 25.52px;
    text-align: left;
    /* color: var(--main-bg-color); */

  }

  .sliderlabelcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* font-family: ; */

    font-size: 12px;
    font-weight: 400;
    line-height: 15.3px;
    text-align: left;

  }

  .categoryslider {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #C4B5F0;
    ;
    border-radius: 50%;
    /* box-shadow: 0 0 0 1px #4c26c0; */
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;  
  }

  input[type=range]::-webkit-slider-thumb:hover { 
    background: #C4B5F0;
  } 
  

  input[type=range].startSlider::-webkit-slider-thumb{
    scale: 60%;
  }
  
  /* input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #5f557b, 0 0 9px #5f557b;
    -webkit-box-shadow: inset 0 0 3px #5f557b, 0 0 9px #5f557b;
  } */
  
  /* input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
  } */

  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: var(--secondary-color);
    pointer-events: none;

  }
  
  .startSlider {
    height: 0;
    z-index: 1;
  }
 

  /*CATEGORY SWITCH */

  /* The switch - the box around the slider */
.categoryswitch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .categoryswitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .categoryswitch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color); 
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .categoryswitch span:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .categoryswitch input:checked + span {
    /* border of the switch when active */
    border-color: var(--secondary-color);
    border-width: 2px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
  }

  .categoryheader:has(> .categoryswitch input:checked) {
    /* Category title when active */
    color: var(--secondary-color);
  }
  
  /* input:focus + span {
    box-shadow: 0 0 1px var(--secondary-color);
  } */
  
.categoryswitch input:checked + span:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: var(--secondary-color);
  }
  
  /* Rounded sliders */
  /* .categoryswitch span {
    border-radius: 34px;
  }
  
  .categoryswitch span:before {
    border-radius: 50%;
  }
   */
  /* Subcategory Tag */

  .tagcontainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    gap: 7px;
    overflow: none;
    justify-content: flex-start;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    
  }

  .subcategorytag {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 55px;
    height: 25px;
    max-width: 120px;
    flex-grow: 5;
    height: 25px;
    flex-shrink: 3;
    column-gap: 7px;
  }

  .subcategorytag input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .subcategorytag input:checked {
    /* border of the switch when active */
    border-color: var(--secondary-color);
    border-width: 2px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
  }

  .subcategorytag span {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    cursor: pointer;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 100%;
    background-color: var(--main-bg-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    border-width: 2px;
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .subcategorytag span:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 50px;
    opacity: 0%;
    left: 1px;
    bottom: 1px;
    background-color: var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .subcategorytag input:checked + span {
    /* border of the switch when active */
    border-color: var(--secondary-color);
    border-width: 2px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
  }
  
  /* input:focus + span {
    box-shadow: 0 0 1px var(--secondary-color);
  } */
  
  .subcategorytag input:checked + span:before {
    background-color: var(--secondary-color);
  }

  .subcategorytag span {
    border-radius: 34px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    min-width: fit-content;
    padding: 6px;
    box-sizing: border-box;
  }
  
  /* .subcategorytag span:before {
    border-radius: 50%;
  } */

  .pinButton{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 240px;
    height: 30px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    z-index: 10;
    margin: 12px;
  }