.categorypanel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  width: 38vw;
  min-width: 300px;
  max-width: 350px;
  height: 100vh;
  padding: 12px;
  row-gap: var(--margin-1);
  font-size: 12px;
  overflow-y: scroll;
}

.categorypanelheader {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: var(--margin-1) 0;
}

.categorypanellabel {
  font-weight: 700;
}

.categorycontainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 12px 24px;
  border-radius: 10px;
}

.categoryheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}

.sliderlabelcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--secondary-color);
  opacity: 0.6;
}

.categoryslider {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 12px 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #C4B5F0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #C4B5F0;
  z-index: 1;
}

input[type=range].startSlider::-webkit-slider-thumb {
  width: 11px;
  height: 11px;
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: var(--secondary-color);
  pointer-events: none;

}

input[type="range"].startSlider {
  height: 0;
  z-index: 1;
}


/*CATEGORY SWITCH */

/* The switch - the box around the slider */
.categoryswitch {
  position: relative;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */
.categoryswitch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.categoryswitch input[type='checkbox']:checked{
  width: 0;
  height: 0;
}

/* The slider */
.categoryswitch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  border:solid 1px var(--tertiary-color);
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoryswitch span:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 1px;
  bottom: 1px;
  background-color: var(--tertiary-color);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoryswitch input:checked+span {
  /* border of the switch when active */
  border: solid 1px var(--secondary-color);
}

.categoryheader:has(> .categoryswitch input:checked) {
  /* Category title when active */
  color: var(--secondary-color);
}

.sliderlabelcontainer:has(~ .categoryheader:has(> .categoryswitch input:checked)) {
  color: var(--secondary-color);
}

.categoryswitch input:checked+span:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: var(--secondary-color);
}

/* Rounded sliders */
.categoryswitch span {
  border-radius: 100px;
}

.categoryswitch span:before {
  border-radius: 50%;
}

/* Subcategory Tag */

.tagcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagcontainer .tag{
  margin-top: 8px;
  margin-right: 8px;
}

.tag label{
  font-size: 12px;
}

.tag input:checked + .tag-element {
  background-color: var(--primary-color);
}

.tag input:checked + .tag-element::after {
  content: "✕";
  height: 16px;
  width: 16px;
  text-align: end;
}

.tag input:disabled + .tag-element>label{
  color: var(--secondary-color);
}

.pinButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: var(--margin-1) auto;
}

@media screen and (min-width: 768px) {
  .pinButton {
    width: calc(38vw - var(--margin-2));
    min-width: calc(300px - var(--margin-2));
    max-width: calc(350px - var(--margin-2));
    margin: var(--margin-1);
  }
}