.flex-wrapper{
    display: flex;
    margin: 24px;
}

h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3em;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

p{
    font-size: 14px;
    font-weight: 400;
}

.primary-button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 24px auto;
}

#img-uploader{
    display: none;
}

.img-container{
    display: flex;
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    max-height: calc(90vw);
    min-height: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.img-text{
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-text span{
    font-size: 30px;
    font-weight: 300;
    margin-right: 6px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
}

.nav-buttons{
    display: flex;
    justify-content: space-between;
}

